* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Courier New', Courier, monospace;
}

body {
	width: 970px;
	margin: 0 auto;
}

hr {
	margin: 10px 0;
}

nav {
	display: flex;
	justify-content: space-between;
}